*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
.idea/

.kotlin/
app/src/main/res/a

app/src/main/java/lc/fungee/Ingredicheck/AppConfig.kt
